{% extends 'base.html.twig' %}

{% block contenido %}
<div id="page-wrapper">
        <div class="row">
    <h1>Factor </h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ factor.nombre }}</td>
            </tr>
            <tr>
                <th>Ponderacion</th>
                <td>{{ factor.ponderacion }}</td>
            </tr>
            <tr>
                <th>Justificacion</th>
                <td>{{ factor.justificacion }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ factor.valor }}</td>
            </tr>
            <tr>
                <th>Porcentaje</th>
                <td>{{ factor.porcentaje }}%</td>
            </tr>
            <tr>
                <th>Caracteristicas</th>
                <td><ul>
                    {% for caracteristica in factor.caracteristicas %}
                        <li><a href="{{ path('caracteristica_show', { 'id': caracteristica.id }) }}">
                            {{ caracteristica.nombre}}
                        </a></li><br>
                    {% endfor %}</ul>
                </td>
            </tr>
        </tbody>
    </table>

     <p>
        <a class="btn btn-primary" href="{{ path('modelo_show', { 'id': factor.modelo.id }) }}">Atras</a>
        <a class="btn btn-warning" href="{{ path('factor_edit', { 'id': factor.id }) }}">Editar</a>
    </p>
    </div>
</div>
{% endblock %}

