{% extends 'base.html.twig' %}

{% block contenido %}
<div id="page-wrapper">
        <div class="row">
    <h1>Programas</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre Programa</th>
                <th>Modelo</th>
                
                <th>Titulo</th>
                <!-- <th>Norma</th> -->
                <th>Codigo</th>
                <th>Nivel</th>
                <th>Jornada</th>
                <th>Metodologia</th>
                <th>Duracion</th>
                <th>Periodicidad</th>
                <th>Facultad</th>
                <th>Lugar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programa in programas %}
            <tr>
                <td><a href="{{ path('programa_show', { 'id': programa.id }) }}">{{ programa.nombre }}</a></td>
                <td>{{ programa.modelo }}</td>
                
                <td>{{ programa.titulo }}</td>
                <!-- <td>{{ programa.norma }}</td> -->
                <td>{{ programa.codigo }}</td>
                <td>{{ programa.nivel }}</td>
                <td>{{ programa.jornada }}</td>
                <td>{{ programa.metodologia }}</td>
                <td>{{ programa.duracion }}</td>
                <td>{{ programa.periodicidad }}</td>
                <td>{{ programa.facultad }}</td>
                <td>{{ programa.lugar }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('programa_show', { 'id': programa.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('programa_edit', { 'id': programa.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('programa_new') }}">Crear Nuevo Programa</a>

</div>
</div>
{% endblock %}
