{% extends 'base.html.twig' %}

{% block titulo %}
    Programa Académico
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Programa Académico</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ programa.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <td>{{ programa.titulo }}</td>
                    </tr>
                    <tr>
                        <th>Norma</th>
                        <td>{{ programa.norma }}</td>
                    </tr>
                    <tr>
                        <th>Codigo</th>
                        <td>{{ programa.codigo }}</td>
                    </tr>
                    <tr>
                        <th>Nivel</th>
                        <td>{{ programa.nivel }}</td>
                    </tr>
                    <tr>
                        <th>Jornada</th>
                        <td>{{ programa.jornada }}</td>
                    </tr>
                    <tr>
                        <th>Metodologia</th>
                        <td>{{ programa.metodologia }}</td>
                    </tr>
                    <tr>
                        <th>Duracion</th>
                        <td>{{ programa.duracion }}</td>
                    </tr>
                    <tr>
                        <th>Periodicidad</th>
                        <td>{{ programa.periodicidad }}</td>
                    </tr>
                    <tr>
                        <th>Facultad</th>
                        <td>{{ programa.facultad }}</td>
                    </tr>
                    <tr>
                        <th>Lugar</th>
                        <td>{{ programa.lugar }}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <a class="btn btn-primary" href="{{ path('programa_index') }}">Atras</a>
                <a class="btn btn-warning" href="{{ path('programa_edit', { 'id': programa.id }) }}">Editar</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
