{# Plantilla de la aplicacion #}
{% extends 'base.html.twig' %} 
{# TITULO #}
{% block titulo %}
    Encuestas Autoevaluacion
{% endblock %}
{# CONTENIDO #}
{% block contenido %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Encuestas Autoevaluación Doctorado</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
           
             <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Estudiantes de Maestría</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestadoctorado', {'relprograma':"Estudiante de Maestría"})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Estudiantes de Doctorado</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestadoctorado', {'relprograma':'Estudiante de Doctorado'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Egresados de Maestría</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestadoctorado', {'relprograma':'Egresado de Maestría'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Egresados del Doctorado</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestadoctorado', {'relprograma':'Egresado de Doctorado'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Profesor de Maestría</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestadoctorado', {'relprograma':'Profesor de Maestría'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Profesor de Doctorado</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestadoctorado', {'relprograma':'Profesor de Doctorado'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Profesor de Maestría y/o Doctorado</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestadoctorado', {'relprograma':'Profesor Colaborador'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- /.row -->

            <!-- / Sección Maestría -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Encuestas Autoevaluación Maestría</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
           
             <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Estudiantes de Maestría</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestamaestria', {'relprograma':"Estudiante de Maestría"})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Estudiantes de Doctorado</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestamaestria', {'relprograma':'Estudiante de Doctorado'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Egresados de Maestría</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestamaestria', {'relprograma':'Egresado de Maestría'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Egresados del Doctorado</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestamaestria', {'relprograma':'Egresado de Doctorado'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Profesor de Maestría</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestamaestria', {'relprograma':'Profesor de Maestría'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-indent fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Profesor de Doctorado</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('encuestamaestria', {'relprograma':'Profesor de Doctorado'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Encuesta</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
            
{% endblock %}