{% extends 'base.html.twig' %}

{% block contenido %}
<div id="page-wrapper">
        <div class="row">
    <h1 class="page-header">{{ modelo.nombre }}</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Programa</th>
                <th>Nombre</th>
                <th>Factores</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ modelo.programa }}</td>
                <td><a href="{{ path('modelo_show', { 'id': modelo.id }) }}">{{ modelo.nombre }}</a></td>
                <td><ul>
                {% set i = 1 %}
                    {% for factor in modelo.facts %}
                        <li><a href="{{ path('factor_show', { 'id': factor.id}) }}">
                            {{i}} {{ factor.nombre}}
                        </a></li><br>
                        {% set i = i + 1 %}
                    {% endfor %}</ul>
                </td>
            </tr>
        </tbody>
    </table>

    <p>
    <a class="btn btn-primary" href="{{ path('modelo_index') }}">Volver a la lista</a>

    <a class="btn btn-warning" href="{{ path('modelo_edit', { 'id': modelo.id }) }}">Editar</a>

    </p>

    </div>
    </div>
{% endblock %}
