{% extends 'base.html.twig' %}

{% block titulo %}
    Editar Caracteristicas
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Editar Caracteristicas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-success" type="submit" value="Guardar" />
            {{ form_end(edit_form) }}

            <a class="btn btn-warning" href="{{ path('caracteristica_model_index') }}">Atras</a>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}

        </div>
    </div>
</div>
{% endblock %}
