{% extends 'base.html.twig' %}

{% block titulo %}
    Características
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Caracteristicas</h1>
        </div>
    </div>
    <a class="btn btn-success" href="{{ path('caracteristica_model_new') }}">Nueva caracteristica</a>
    <div class="row">
        <div class="col-lg-12">
            <table width="100%" id="caracteristica_table" role="grid" class="table table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre de la Caracteristica</th>
                        <th>Factor</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for caracteristica_model in caracteristica_models %}
                    <tr>
                        <td>{{ caracteristica_model.id }}</td>
                        <td>{{ caracteristica_model.nombre }}</td>
                        <td>{{ caracteristica_model.factor_model }}</td>
                        <td>{{ caracteristica_model.descripcion }}</td>
                        <td>
                            <ul>
                                <a href="{{ path('caracteristica_model_show', { 'id': caracteristica_model.id }) }}" title="Ver"><i class="fa fa-eye fa-fw"></i></a>
                                <a href="{{ path('caracteristica_model_edit', { 'id': caracteristica_model.id }) }}" title="Editar"><i class="fa fa-pencil fa-fw"></i></a>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#caracteristica_table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            "responsive": true
        });
    } );
</script>
{% endblock %}
