{% extends 'base.html.twig' %}

{% block titulo %}
    Caracteristica
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Plantilla de Característica</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ caracteristica_model.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ caracteristica_model.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Ponderacion</th>
                        <td>{{ caracteristica_model.ponderacion }}</td>
                    </tr>
                    <tr>
                        <th>Valor</th>
                        <td>{{ caracteristica_model.valor }}</td>
                    </tr>
                    <tr>
                        <th>Porcentaje</th>
                        <td>{{ caracteristica_model.porcentaje }}</td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('caracteristica_model_index') }}">Atras</a>
            <a class="btn btn-warning" href="{{ path('caracteristica_model_edit', { 'id': caracteristica_model.id }) }}">Editar</a>
            <!-- {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }} -->
        </div>
    </div>
</div>
{% endblock %}
