{% extends 'base.html.twig' %}

{% block titulo %}
    Caracteristica
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Caracteristica</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ caracteristica_model.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ caracteristica_model.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ caracteristica_model.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Ponderacion</th>
                        <td>{{ caracteristica_model.ponderacion }}</td>
                    </tr>
                    <tr>
                        <th>Valor</th>
                        <td>{{ caracteristica_model.valor }}</td>
                    </tr>
                    <tr>
                        <th>Porcentaje</th>
                        <td>{{ caracteristica_model.porcentaje }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('caracteristica_model_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('caracteristica_model_edit', { 'id': caracteristica_model.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
