{% extends 'base.html.twig' %}

{% block titulo %}
    Indicadores
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Indicadores</h1>
        </div>
    </div>
    <a class="btn btn-success" href="{{ path('indicador_model_new') }}">Nuevo Indicador</a>
    <div class="row">
        <div class="col-lg-12">
            <table width="100%" id="indicador_table" role="grid" class="table table-bordered dataTable">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre del Indicador</th>
                        <th>Caracteristica</th>
                        <th>Factor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for indicador_model in indicador_models %}
                    <tr>
                        <td>{{ indicador_model.id }}</td>
                        <td>{{ indicador_model.nombre }}</td>
                        <td>{{ indicador_model.caracteristica_model }}</td>
                        <td>{{ indicador_model.caracteristica_model.factor_model }}</td>
                        <td>
                            <a href="{{ path('indicador_model_show', { 'id': indicador_model.id }) }}"title="Ver"><i class="fa fa-eye fa-fw"></i></a>
                            <a href="{{ path('indicador_model_edit', { 'id': indicador_model.id }) }}"title="Editar"><i class="fa fa-pencil fa-fw"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#indicador_table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            "responsive": true
        });
    } );
</script>
{% endblock %}
